.profile__name {
    color: #FFF;
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 35px;
    letter-spacing: 0.5px;
}

@media screen and (max-width: 880px) {
    .profile__name {
        font-weight: 500;
        font-size: 27px;
        line-height: 21px;
    }
}